img {
  height: 100px;
  width: 100%;
}

.main {
  /* display: none; */
}

#container {
  gap: 20px;
  height: 100vh;
  width: 80vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}